<!DOCTYPE html>

{% include blog/head.html %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<body class="{{layout}}">
    {% include blog/navbar.html %}
    <div class="site-content">
        <div class="container">
            <!-- Site Title ================================================== -->
            <div class="mainheading">
                <h1 class="sitetitle">{% t details.name %}</h1>
                <p class="lead">
                    {% t details.description %}
                </p>
            </div>
            <!-- End Site Title ================================================== -->
            <!-- Content ================================================== -->
            <div class="main-content">
                {{ content }}
            </div>
            <!-- End Content ================================================== -->
        </div>
        {% include blog/categories.html %}
        {% include blog/footer.html %}
    </div>

    {% include blog/js.html %}
    <script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
</body>

</html>