---
layout: style
---

.navbar-default .navbar-brand {
    width: 12vw;
    color: #{{ site.data.template.color.primary }};
    background-image: url('{{ site.baseurl }}/img/header-bg.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}