{% include css.html %}
<link rel="preload" href="{{ site.baseurl_root }}/assets/css/portfolio.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/portfolio.css"></noscript>
<link rel="preload" href="{{ site.baseurl_root }}/assets/css/fonts.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/fonts.css"></noscript>