{% include js.html %}

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Animate on Scroll -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
        $('head').append('<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" defer>');
    }
</script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/portfolio.js" | prepend: site.baseurl }}"></script>

<!-- Typing JavaScript -->
<script src="{{ "/assets/js/type.js" | prepend: site.baseurl }}"></script>