{% include js.html %}

<!-- Plugin JavaScript -->
<script src="{{ "/assets/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/classie.js" | prepend: site.baseurl }}"></script>

<!-- Animate on Scroll -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
        $('head').append('<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" defer>');
    }
    AOS.init();
</script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/portfolio.js" | prepend: site.baseurl }}"></script>

<!-- Typing JavaScript -->
<script src="{{ "/assets/js/type.js" | prepend: site.baseurl }}"></script>