<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand page-scroll" href="#page-top">
            {% picture lazy assets/images/header-sm.png --alt Jet's Logo %}
        </a>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="push"></div>
<div class="wrapper">
    <div class="content">
        {{ content }}
    </div>
    <a class="btn btn-xl" href="{{ site.baseurl }}/">
        return
    </a>
</div>
{% include portfolio/footer.html %}