<!-- Skill Section -->
<section id="skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading skills">Skills</h2>
            </div>
        </div>
        <br />
        <div class="row text-center">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading skills">Programming</h3>
                <br />
            </div>
            <br />
            {% for skill in site.skills %}
            {% if skill.fa == true %}
            <div class="col-md-4">
                <span class="logo" data-aos="zoom-in-down">
                    <span class="icon-{{ skill.logo }} fa-stack-1x fa-inverse"></span>
                </span>
                <h4 class="service-heading">{{ skill.name }}</h4>
            </div>
            {% else %}
            <div class="col-md-4">
                <span class="logo" data-aos="zoom-in-down">
                    <i class="devicon-{{ skill.logo }}-plain"></i>
                </span>
                <h4 class="service-heading">{{ skill.name }}</h4>
            </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>