<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="/"></a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="push"></div>
<div class="wrapper">
    Page not found! :(
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
        </div>
    </div>
</footer>


</html>
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        background-color: #000;
    }

    .wrapper {
        min-height: 86.4%;
        text-align: center;
        background-color: #000;
        color: #fff;
        /* Equal to height of footer */
        /* But also accounting for potential margin-bottom of last child */
        margin-bottom: -90px;
    }

    .push {
        height: 100px;
        background-color: #000;
    }
    
    footer {
        background-color: #fff;
    }
</style>