<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="portrait" class="timeline-image">
                    <img class="img-circle img-responsive" src="img/portrait.png" alt="">
                </div>
            </div>
        </div>
        <br />
        <div class="row typing">
            <h1>
                <a class="typewrite" data-period="2000"
                    data-type='[ "Hello World!", "I am Jet.", "I Love programming.", "I Love Design.", "I Love to Develop." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>
        <br />
        <div class="text-center">
            <p id="intro" class="text-muted text-decoration-none">Hi! I am a Ngee Ann Polytehnic student currently pursuing the diploma in Information Technology.</p>
        </div>
    </div>
</section>