<!-- About Section -->
<section id="about">
    <h6 id="latlong" class="text-center text-muted">
        1°17'24.9720"N, 103°51'7.0524"E
    </h6>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="portrait" class="timeline-image">
                    {% picture img/portrait.png --img class="img-circle img-responsive" --alt Portrait image %}
                </div>
            </div>
        </div>
        <br />
        <div class="row typing">
            <h1>
                <a class="typewrite text-decoration-none" data-period="2000"
                    data-type='[ "Hello World!", "I am Jet.", "I Love programming.", "I Love Design.", "I Love to Develop." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>
        <br />
        <div class="text-center">
            <p id="intro" class="text-muted text-decoration-none">
                Hi! I am a <strong>Ngee Ann Polytehnic</strong> student currently pursuing a <strong>Diploma in Information Technology</strong>.<br/>
                Actively participating in the <strong>Robotics Industry</strong> for more than <strong>9 years</strong>.<br/>
                Strong interest in the <strong>Science, Technology, Engineering, Mathematics (STEM)</strong> field.<br/>
                Passionate in the areas of <strong>cyber security</strong> and <strong>technopreneurship</strong>.<br/>
                <strong>Constantly updated</strong> with the latest and future technologies.
            </p>
        </div>
        <br/><br/><br/><br/>
        <h1 class="text-center">Work Experience</h1>
        <br/>
        <div class="row">
            <i id="plus" class="icon-plus-circle"></i>
            <div class="col-lg-6 text-center">
                {% picture img/nullspace.png --img class="rounded-circle work" --alt Nullspace Logo %}
                <h2 class="text-center">Nullspace Robotics</h2>
                <p class="text-center">Part-Time Trainer</p>
                <p class="text-center text-muted">NOV 2017 - Present</p>
                <a href="https://sg.nullspacegroup.com/" target="_blank"><i class="work-link text-decoration-none icon-sphere"></i></a>
                <br/>
                <p class="text-center text-secondary">Exposure to an SME environment. Learning various skill sets useful within a startup. Being an inspiration for many children to start learning coding. Leading various teams to success at competitions. Providing fun and engaging bonding events for various companies. Ensuring fair judgement on the competition ground.</p>
            </div>
            <div class="col-lg-6 text-center">
                {% picture img/ngeeannpoly.png --img class="rounded-circle work" --alt Ngee Ann Logo %}
                <h2 class="text-center">Ngee Ann Polytechnic</h2>
                <p class="text-center">Part-Time Staff</p>
                <p class="text-center text-muted">FEB 2019 - APR 2019</p>
                <a href="https://www.np.edu.sg/Pages/default.aspx" target="_blank"><i class="work-link text-decoration-none icon-sphere"></i></a>
                <br/>
                <p class="text-center text-secondary">Provide necessary technical support at events. Maintaining of computer labs and networks. Setting up of firewalls and networks. Ensuring the security of infrastructures.</p>
            </div>
        </div>
    </div>
</section>