<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li>
                        <h3 class="details text-decoration-none" href="mailto:jetong@protonmail.com" target="_blank">jetong@protonmail.com</h3>
                    </li>
                    <li>
                        <h3 class="details text-decoration-none" href="sms:+19793209938" target="_blank">+1 (979) 320 9938</h3>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a aria-label="{{ network.title }}" href="{{ network.url }}" target="_blank" rel="noreferrer"><span class="icon-{{ network.title }}"></span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <!-- <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>
