<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="shortcut icon" href="">

{% seo %}

<!-- Preload fonts -->
<link rel="preload" href="{{ site.baseurl }}/fonts/fonts/icomoon.ttf?u5ziv8" as="font" type="font/truetype" crossorigin>
<link rel="preload" href="{{ site.baseurl }}/fonts/fonts/icomoon.woff?u5ziv8" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ site.baseurl }}/fonts/fonts/icomoon.svg?u5ziv8#icomoon" as="font" type="font/svg" crossorigin>

<!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" async>
<link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}" async>

<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&display=swap' rel='stylesheet' type='text/css' defer>

{% include google-analytics.html %}
</head>