<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl_root}}/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl_root}}/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl_root}}/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl_root}}/assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl_root}}/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{% seo %}

{% include portfolio/google-analytics.html %}

<script>
    var [lang, locale] = (((navigator.userLanguage || navigator.language).replace('-', '_')).toLowerCase()).split('_');

    function getBestSuitableSupportedLang(lang, locale, supported) {
        // Exclude first element, default language
        var supported_lang = supported.shift();

        if (supported.includes(lang + "-" + locale)) {
            supported_lang = lang + "-" + locale;
        } else if (supported.includes(lang)) {
            supported_lang = lang;
        }

        return supported_lang;
    }

    var [lang, locale] = (((navigator.userLanguage || navigator.language).replace('-', '_')).toLowerCase()).split('_');
    var supported_languages = null;
    var current_lang = '';

    var suitable_lang = getBestSuitableSupportedLang(lang, locale, supported_languages)

    if (current_lang !== suitable_lang) {
        window.location = '/' + suitable_lang + '/';
    }

    var hostname = window.location.hostname;
    var referrer = document.referrer;

    var landingPage = !referrer || referrer.indexOf(hostname) == -1;

    if (landingPage && (current_lang !== suitable_lang)) {
        window.location = '/' + suitable_lang + '/';
    }
</script>