 <!-- Portfolio Modals -->
 {% for post in site.portfolio %}
    <div class="portfolio-modal modal fade" id="portfolio{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <!-- <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <picture>
                                <source type="image/webp" srcset="img/portfolio/{{ post.img }}.webp" class="img-responsive img-centered" alt="{{ post.img }}">
                                <source type="image/png" srcset="img/portfolio/{{ post.img }}.png" class="img-responsive img-centered" alt="{{ post.img }}">
                                <img src="img/portfolio/{{ post.img }}.png" class="img-responsive img-centered" alt="{{ post.img }}">
                            </picture>
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Tools Use:
                                    <strong><a class="text-decoration-none">{{ post.tools }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a class="text-decoration-none">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Category:
                                    <strong><a class="text-decoration-none">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
