 <!-- Portfolio Modals -->
 {% for post in site.portfolio %}
    <div class="portfolio-modal modal fade" id="portfolio{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {% picture img/portfolio/{{ post.img }}.png --img class="img-responsive img-centered" --alt {{ post.img }} %}
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Tools Use:
                                    <strong><a class="text-decoration-none">{{ post.tools }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a class="text-decoration-none">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Category:
                                    <strong><a class="text-decoration-none">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <a class="btn btn-success text-white" href="//jet-blog.netlify.com/{{post.url}}">Find out more</a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="icon-close"></span> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
