<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include portfolio/head.html %}

<body id="page-top" class="index">

  {% include portfolio/navbar.html %}
  {% include portfolio/header.html %}
  {% include portfolio/about.html %}
  {% include portfolio/portfolio_grid.html %}
  {% include portfolio/awards.html %}
  {% include portfolio/skill.html %}
  {% include portfolio/contact.html %}
  {% include portfolio/footer.html %}
  {% include portfolio/modals.html %}
  {% include portfolio/js.html %}
  <script>
    // Set the options to make LazyLoad self-initialize
    window.lazyLoadOptions = {
      elements_selector: ".lazy"
      // ... more custom settings?
    };
  </script>
  <script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>

</body>

</html>