<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include_cached portfolio/head.html %}

<body id="page-top" class="index">

  {% include_cached portfolio/navbar.html %}
  {% include_cached portfolio/header.html %}
  {% include_cached portfolio/about.html %}
  {% include_cached portfolio/portfolio_grid.html %}
  {% include_cached portfolio/awards.html %}
  {% include_cached portfolio/skill.html %}
  {% include_cached portfolio/contact.html %}
  {% include_cached portfolio/footer.html %}
  {% include_cached portfolio/modals.html %}
  {% include_cached portfolio/js.html %}
  <script>
    // Set the options to make LazyLoad self-initialize
    window.lazyLoadOptions = {
      elements_selector: ".lazy"
    };
  </script>
  <script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>

</body>

</html>